<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> <meta name="viewport" content="width=device-width">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<!-- favicon-href -->" type="image/x-icon">
    <link rel="shortcut icon" href="<!-- favicon-href -->" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <!-- this is highlight.js -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/androidstudio.min.css">
    <link rel="stylesheet"
          href="<!-- global-css -->">
<!--    <link rel="stylesheet" href="/web_template_css.css">-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
    <script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
    <style>
      img{
        display: block;
        height: auto;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><!-- web-name --></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="<!-- nav-home-href -->" >Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<!-- nav-blog-href -->" >Blog</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="<!-- nav-about-href -->">About</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class='container'>
      <div class="row">
      <!-- <content> -->
      </div>
      <button class="btn btn-primary" id='pre' style="float: left; text-align: left">上一页</button>
      <button class="btn btn-primary" id='next' style="float: right; text-align: right">下一页</button>
    </div>

        <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>

      <!-- Modal Content (The Image) -->
      <div style="height: 100%; display: flex">
        <img class="modal-content" id="img01">
      </div>

    </div>

    <footer class="footer navbar-fixed-bottom ">
      <div class="container">
        Powered by <a href="https://github.com/kvrmnks/white-blog">White-blog</a>
      </div>
    </footer>

    <script>
      hljs.initHighlightingOnLoad()
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.5.0/highlightjs-line-numbers.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      hljs.initLineNumbersOnLoad();
    </script>

    <script src="<!-- global-js -->"></script>

    <script>
      $('document').ready(function () {
        let $grid = $('.row').packery({
          itemSelector: '.col-sm-4',
          isAnimated: true,
          columnWidth: 0
        });

        $grid.find('.col-sm-4').each(function(i, gridItem) {
          let draggie = new Draggabilly(gridItem);
          $grid.packery('bindDraggabillyEvents', draggie);
        });
      });
    </script>

  <script>
      const card_per_page = 20;
      const reg = /\d{4,4}\.\d{2,2}\.\d{2,2}/;
      function getUrlParam(name) {
          let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
          let r = window.location.search.substr(1).match(reg);
          if (r != null) return unescape(r[2]); return null;
      }
      function min(number, length) {
        return number < length ? number : length;
      }
      function sortByDate(x, y){
        return reg.exec(x) < reg.exec(y);
      }

      let param = getUrlParam('page');
      if(param === null){
        param = 0;
      }
      card_list = document.getElementsByClassName('blog-card');
      let raw_length = card_list.length;
      console.log(typeof card_list);
      card_list = Array.from(card_list);
      card_list.sort(sortByDate)


      console.log(card_list.length);
      let range_l = 0;
      for(let i=0;i<param;i++) range_l += card_per_page;

      for(let i=range_l + card_per_page;i<min(range_l + 2*card_per_page, raw_length);i++){
        console.log(card_list[i].innerHTML);
        card_list[i].remove();
        // pos.parentNode.removeChild(pos);
      }

      for(let i=0;i<min(range_l, card_list.length);i++){
        console.log(card_list[i].innerHTML);
        card_list[i].remove();
      }
      $("#pre").on("click", function (){
        let cur = getUrlParam('page');
        if(cur === null)cur = 0;
        cur -= 1;
        cur = -min(-cur, 0);
        $(location).attr("href", "./blog.html?page="  + cur);
      });
      $("#next").on("click", function (){
        let cur = getUrlParam('page');
        if(cur === null)cur = 0;
        cur += 1;
        cur = min(cur, Math.floor(raw_length/card_per_page) );
        $(location).attr("href", "./blog.html?page="  + cur);
      });
    </script>
  </body>
</html>